<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lemo.mapper.UserMapper">
    <select id="loadUserByUserNameAndPwd" resultType="com.lemo.bean.User">
        SELECT * FROM WXSD_USER WHERE 1=1
    </select>

    <insert id="insertintoUser" parameterType="com.lemo.bean.User" >
        insert into WXSD_USER (ID,user_name,avatarurl,province,city,sex) values (#{id},#{user_name},#{avatarurl},#{province},#{city},#{sex})
    </insert>

</mapper>